LLM_PROVIDER=
# Google Cloud Settings (required for gemini/vertexai)
GOOGLE_PROJECT_ID=
GOOGLE_CLOUD_PROJECT=
GOOGLE_LOCATION=us-central1
GOOGLE_API_KEY
# Model Settings
MODEL_NAME=gemini-2.5-pro
TEMPERATURE=0.7
MAX_TOKEN=2048

# Retrieval Settings
CHUNK_SIZE=200
CHUNK_OVERLAP=200
TOP_K_RESULTS=5

# Python Version to focus on
PYTHON_VERSION=3.12